<p>Please select one piece of art that you like by clicking on it and we will guide you to a similar artwork.</p>

<form action="post" class="assessment-form">
  <label class="assessment-element">
    <input type="checkbox" name="test1" value="small" checked>
    <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436524/800285/main-image" class="item-img">
  </label>
          
  <label>
    <input type="checkbox" name="test2" value="big">
    <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436528/1447063/main-image" class="item-img">
  </label>
  
  <button type="submit">
    Get recommendation
  </button>
</form>
