<p>Please select one piece of art that you like by clicking on it and we will guide you to a similar artwork.</p>
<div class="page-container">
  <div id="images-container">
    <div class="assessment-box">
      <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436524/800285/main-image" alt="" class="item-img">
    </div>
    <div class="assessment-box">
      <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436528/1447063/main-image" alt="" class="item-img">
    </div>
  </div>
  <div class="cta-buttons">
    <a href="" class="confirm-button">New Art Quest</a>
    <a href="" class="new-quest">New Art Quest</a>
  </div>
</div>
<script src="/javascripts/assessment.js"></script>