<h1>Title</h1>
<img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436524/800285/main-image" alt="" class="item-img">
<p>Artist</p>
<p>Van Gogh painted four still lifes of sunflowers in Paris in late summer 1887. There is an oil sketch for this picture (Van Gogh Museum, Amsterdam) as well as another painting of two sunflowers also signed and dated 1887 (Kunstmuseum Bern), and a larger canvas showing four sunflower heads (Kröller-Müller Museum, Otterlo). Paul Gauguin acquired the two smaller works, and until the mid-1890s, when he sold his most prized possessions to finance his South Seas voyage, they held pride of place above the bed in his Paris apartment.</p>