<h1>Welcome to your Art Quest at the Met!</h1>
<p>Art Quest helps you to find the artworks that you are interested in.</p>
<p>Please select what kind of art you want to see: </p>
<a href="/assess/painting">Paintings</a>
<a href="/assess/sculpture">Sculptures</a>
<a href="/assess/furniture">Furniture</a>
<a href="/assess/music">Musical instruments</a>