<h1 id="welcome-heading">Welcome to your Art Quest at the Met!</h1>
<p>Art Quest helps you to find the artworks that you are interested in.</p>
<p>Please select what kind of art you want to see: </p>
<div class="button-container">
<a class="call-to-action" href="/assess/painting">Paintings</a>
<a class="call-to-action" href="/assess/sculpture">Sculptures</a>
<a class="call-to-action" href="/assess/furniture">Furniture</a>
<a class="call-to-action" href="/assess/music">Musical instruments</a>
</div>