<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <a href="#">
    <div class="logo-container">
      <div class="art-quest-container">
        <p>Art</p>
        <p>Quest</p>
      </div>
      <img id="met-logo" src="/images/met-logo.png" alt="met-logo">
    </div>
  </a>
</nav>
<main>
{{{body}}}
</main>
<script src="/javascripts/script.js"></script>
</body>
</html>